# Logs
logs
*.log
pnpm-debug.log*

# Dependencies
node_modules
.turbo

# Build files
.vercel
dist

# Environment variables
.env
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.cache
.DS_Store
